In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('tips.csv')

In [3]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
df.rename(columns = {'size':'peoples'}, inplace = True)

In [5]:
df.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
peoples       0
dtype: int64

In [6]:
col_var = df[['peoples','sex', 'smoker', 'day', 'time']]

for i in col_var:
    print(i, df[i].unique())

peoples [2 3 4 1 6 5]
sex ['Female' 'Male']
smoker ['No' 'Yes']
day ['Sun' 'Sat' 'Thur' 'Fri']
time ['Dinner' 'Lunch']

In [7]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'peoples'], dtype='object')

In [8]:
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
sns.heatmap(df.corr(), annot=True, cmap='coolwarm')

ValueError: could not convert string to float: 'Female'